
.av-block-inner {
    border: 3px solid #888;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    padding: 4px;
}

.av-block-1 .av-block-inner {
    margin-left: auto;
    margin-right: auto;
}

.av-block-iframe {
    overflow: hidden;
}
