<div>
    <p>This demo shows how an iFrame can communicate the ideal dimensions for displaying its contents.</p>
    <p>The demo uses browser internal messages.</p>
    <div class="row">
        <style>
            .video-block-inner {
                border: 2px solid #888;
                margin: 20px auto;
                overflow: hidden;
                padding: 4px;
            }
        </style>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <div id="video-block-outer">
                <div id="video-block-inner" class="video-block-inner">
                    <iframe id="video-block-iframe" frameborder="0"
                            src="http://localhost:8080/test4/index2.html"></iframe>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>