<div>
    <p>This demo shows how an iFrame can communicate the ideal dimensions for displaying its contents.</p>
    <p>The demo uses browser internal messages.</p>
    <form>
        <label>Select sources</label>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="sources" value="both" ng-model="iframeCfg.blocks" ng-change="clickConfig()">
                    Display both blocks
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="sources" value="audio-only" ng-model="iframeCfg.blocks"
                           ng-change="clickConfig()">
                    Display audio only
                </label>
            </div>
            <div>
                <div>Source #1 permissions:</div>
                <div>audio: {{frame1Perm.audio}}</div>
                <div>video: {{frame1Perm.video}}</div>
            </div>
            <div>
                <div>Source #2 permissions:</div>
                <div>audio: {{frame2Perm.audio}}</div>
                <div>video: {{frame2Perm.video}}</div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <audio-video-frame class="av-block-1"
                               trusted-url="frame1Url"
                               perm="frame1Perm"
                               iframe-cfg="iframeCfg"></audio-video-frame>
        </div>
        <div class="col-xs-2"></div>
    </div>
    <div>
        <audio-video-frame class="av-block-2"
                           trusted-url="frame2Url"
                           perm="frame2Perm"
                           iframe-cfg="iframeCfg"></audio-video-frame>
    </div>
</div>