<div>
    <p>This demo shows how an iFrame can communicate the ideal dimensions for displaying its contents.</p>
    <p>The demo uses browser internal messages.</p>
    <form>
        <label>Select sources</label>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="sources" value="both" ng-model="iframeCfg.blocks" ng-change="clickConfig()">
                    Both Audio And Video
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="sources" value="audio-only" ng-model="iframeCfg.blocks" ng-change="clickConfig()">
                    Audio only
                </label>
            </div>
        </div>
    </form>
    <div class="row">
        <style>
            .video-block-inner {
                border: 2px solid #888;
                margin: 20px auto;
                overflow: hidden;
                padding: 4px;
            }
            .video-block-iframe {
                overflow: hidden;
            }
        </style>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <div id="video-block-outer">
                <div id="video-block-inner" class="video-block-inner">
                    <iframe id="video-block-iframe" class="video-block-iframe" scrolling="no" frameborder="0"
                            src="http://localhost:63342/msg-iframe-ng/index2.html"></iframe>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
    <div>
        Testing Angular directives:
        <audio-video-frame></audio-video-frame>
    </div>
</div>